@font-face {
  font-family: "Day Roman";
  src: url("./assets/DayRoman.woff2") format("woff2"), url("./assets/DayRoman.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body {
  background-color: #fff;
}

.max-width {
  max-width: 1200px;
  width: 90%;
}

h1 {
  font-family: "Day Roman", serif;
}

h2 {
  font-family: "Helvetica", sans-serif;
  font-weight: 600;
}

p {
  font-weight: 100;
  font-family: "Helvetica", sans-serif;
}

.button {
  text-decoration: none;
  padding: 10px 45px;
  font-family: Helvetica, sans-serif;
  border: 1px solid;
  background-color: rgb(36, 140, 230);
  color: #fff;
  max-width: max-content;
}

.hamburger {
  padding: 0px !important;
  cursor: pointer;
  display: none !important;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 50%;
  right: 1%;
  transform: translate(-50%, -5%);
  z-index: 1001;
}
@media (max-width: 800px) {
  .hamburger {
    display: flex !important;
  }
}
.hamburger span {
  display: block;
  width: 30px;
  height: 2px;
  margin-bottom: 7.5px;
  background-color: black;
}
.hamburger .last-span {
  margin-bottom: 0px !important;
}

.mobile-menu .full-screen-menu {
  opacity: 0;
  width: 100dvw;
  height: 100dvh;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: white;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.mobile-menu .full-screen-menu .mobile-nav-links ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.mobile-menu .full-screen-menu .mobile-nav-links ul a {
  text-decoration: none;
}
.mobile-menu .full-screen-menu .mobile-nav-links ul a li {
  font-weight: 100;
  font-family: Helvetica, sans-serif;
  color: black;
  list-style: none;
  font-size: 50px !important;
  display: inline;
  position: relative;
  overflow: hidden;
}
.mobile-menu .full-screen-menu .mobile-nav-links ul a li:after {
  content: "";
  position: absolute;
  z-index: -1;
  right: 0;
  width: 0;
  bottom: 0px;
  background: #000;
  height: 2px;
  transition-property: width;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}
.mobile-menu .full-screen-menu .mobile-nav-links ul a li:hover:after, .mobile-menu .full-screen-menu .mobile-nav-links ul a li:focus:after,
.mobile-menu .full-screen-menu .mobile-nav-links ul a li .underline:active:after {
  left: 0;
  right: auto;
  width: 100%;
}

.header {
  padding: 40px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
@media (max-width: 800px) {
  .header {
    padding: 20px 20px;
  }
}
.header .logo a {
  text-decoration: none !important;
  font-family: "Day Roman", serif, Times, serif !important;
  color: rgb(27, 27, 27) !important;
}
.header .logo a:active {
  font-family: "Day Roman", serif, Times, serif;
  color: rgb(27, 27, 27);
  font-size: 2vw;
}
.header .logo a h1 {
  font-size: 2vw;
}
@media (max-width: 800px) {
  .header .logo a h1 {
    font-size: 4vw;
  }
}
.header .nav-links {
  width: 40%;
}
@media (max-width: 800px) {
  .header .nav-links {
    display: none;
  }
}
.header .nav-links ul {
  display: flex;
  justify-content: space-between;
}
.header .nav-links ul a {
  text-decoration: none;
}
.header .nav-links ul a li {
  font-weight: 100;
  font-family: Helvetica, sans-serif;
  color: black;
  list-style: none;
  font-size: 20px;
  display: inline;
  position: relative;
  overflow: hidden;
}
@media (max-width: 1200px) {
  .header .nav-links ul a li {
    font-size: 16px;
  }
}
.header .nav-links ul a li:after {
  content: "";
  position: absolute;
  z-index: -1;
  right: 0;
  width: 0;
  bottom: -5px;
  background: #000;
  height: 1px;
  transition-property: width;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}
.header .nav-links ul a li:hover:after, .header .nav-links ul a li:focus:after,
.header .nav-links ul a li .underline:active:after {
  left: 0;
  right: auto;
  width: 100%;
}

.hero {
  width: 100dvw;
  height: 40%;
  object-fit: cover;
}
.hero img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.about {
  padding: 50px 0px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 800px) {
  .about {
    padding: 50px 0px;
  }
}
.about p {
  text-align: center;
  font-size: 18px;
  font-family: Helvetica, sans-serif;
  font-weight: 100;
}

.intro {
  padding: 100px 0px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.intro h1 {
  font-weight: lighter;
  font-family: "Day Roman", serif, Times, serif;
  font-size: 80px;
  margin-bottom: 10px;
}
.intro p {
  font-family: Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 100;
}

.books {
  width: 100%;
  margin: 0 auto;
}
.books hr {
  max-width: 75%;
  margin: auto;
}
.books .books-container {
  padding-top: 100px;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 60px;
}
.books .books-container .book-item {
  display: flex;
  gap: 25px;
}
@media (max-width: 1000px) {
  .books .books-container .book-item {
    flex-direction: column;
  }
}
.books .books-container .book-item img {
  max-height: 500px;
  object-fit: cover;
}
@media (max-width: 1000px) {
  .books .books-container .book-item img {
    object-fit: cover;
    max-height: none;
  }
}
.books .books-container .book-item .book-info {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.books .books-container .book-item .book-info h2 {
  font-family: Helvetica, sans-serif;
  font-size: 40px;
  margin-bottom: 0px !important;
}
.books .books-container .book-item .book-info h3 {
  font-style: italic;
  font-weight: 100;
  margin-top: 5px;
  font-size: 18px;
}
.books .books-container .book-item .book-info p {
  font-size: 16px;
  font-family: Helvetica, sans-serif;
}
.books-home {
  background-color: #fafafa;
  padding: 50px;
}
@media (max-width: 800px) {
  .books-home {
    padding: 50px 0px;
  }
}
.books-home h1 {
  text-align: center;
  font-size: 50px;
  margin-bottom: 25px;
}
.books-home .books-swiper .swiper-wrapper .swiper-slide img {
  max-width: 90%;
}

.in-the-press {
  margin-bottom: 50px;
  background-color: #fff;
  padding: 100px 0px;
}
.in-the-press h1 {
  text-align: center;
  font-size: 50px;
}
.in-the-press .swiper {
  height: 25dvh;
  overflow: hidden;
}
.in-the-press .swiper .swiper-button-prev,
.in-the-press .swiper .swiper-button-next {
  color: black;
}
.in-the-press .swiper .swiper-wrapper {
  width: 100%;
  margin: 0 auto;
}
.in-the-press .swiper .swiper-wrapper .swiper-slide {
  padding: 0px 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 100%;
  text-align: center;
  gap: 10px;
}
@media (max-width: 800px) {
  .in-the-press .swiper .swiper-wrapper .swiper-slide {
    padding: 50px;
  }
}
.in-the-press .swiper .swiper-wrapper .swiper-slide h1 {
  font-family: "Day Roman", serif;
}
@media (max-width: 800px) {
  .in-the-press .swiper .swiper-wrapper .swiper-slide h1 {
    font-size: 30px;
  }
}
.in-the-press .swiper .swiper-wrapper .swiper-slide p {
  font-family: "Helvetica", sans-serif;
}
@media (max-width: 800px) {
  .in-the-press .swiper .swiper-wrapper .swiper-slide p {
    font-size: 12px;
  }
}
.in-the-press .swiper .swiper-wrapper .swiper-slide a {
  font-family: "Helvetica", sans-serif;
  color: black;
  transition: 0.5s ease;
}
.in-the-press .swiper .swiper-wrapper .swiper-slide a:hover {
  text-decoration: none;
}

.links {
  width: 100%;
  margin: 0 auto;
}
.links hr {
  max-width: 75%;
  margin: auto;
}
.links h1 {
  font-size: 40px;
}
.links .links-container {
  padding-top: 100px;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 60px;
}
.links .links-container .link-item {
  display: flex;
  gap: 25px;
}
@media (max-width: 1000px) {
  .links .links-container .link-item {
    flex-direction: column;
  }
}
.links .links-container .link-item img {
  max-height: 500px;
  object-fit: cover;
}
@media (max-width: 1000px) {
  .links .links-container .link-item img {
    object-fit: cover;
    max-height: none;
  }
}
.links .links-container .link-item .link-info {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.links .links-container .link-item .link-info h2 {
  font-family: Helvetica, sans-serif;
  font-size: 40px;
  margin-bottom: 0px !important;
  font-weight: 100;
  font-style: italic;
}
.links .links-container .link-item .link-info h3 {
  font-style: italic;
  font-weight: 100;
  margin-top: 5px;
  font-size: 18px;
}
.links .links-container .link-item .link-info p {
  font-size: 20px;
  font-family: Helvetica, sans-serif;
}

footer {
  background-color: #fafafa;
  width: 100dvw;
  height: 25dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
footer hr {
  display: block;
  width: 60%;
  margin: 25px 0px;
}
@media (max-width: 800px) {
  footer hr {
    margin: 10px;
  }
}
@media (max-width: 800px) {
  footer h1 {
    font-size: 20px;
  }
}
footer .footer-nav-links {
  width: 40%;
}
footer .footer-nav-links ul {
  display: flex;
  justify-content: space-between;
}
footer .footer-nav-links ul a {
  text-decoration: none;
}
footer .footer-nav-links ul a li {
  font-weight: 100;
  font-family: Helvetica, sans-serif;
  color: black;
  list-style: none;
  font-size: 20px;
  display: inline;
  position: relative;
  overflow: hidden;
}
@media (max-width: 1200px) {
  footer .footer-nav-links ul a li {
    font-size: 16px;
  }
}
footer .footer-nav-links ul a li:after {
  content: "";
  position: absolute;
  z-index: -1;
  right: 0;
  width: 0;
  bottom: -5px;
  background: #000;
  height: 1px;
  transition-property: width;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}
footer .footer-nav-links ul a li:hover:after, footer .footer-nav-links ul a li:focus:after,
footer .footer-nav-links ul a li .underline:active:after {
  left: 0;
  right: auto;
  width: 100%;
}

.contact {
  width: 100dvw;
  margin: 0 auto;
}

b {
  font-weight: 900 !important;
  font-style: italic !important;
}

.new-release {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 5% auto;
  gap: 20px;
  max-width: 80%;
}
.new-release .book-img img {
  max-width: 400px;
}
.new-release p {
  max-width: 500px;
  text-align: center;
}
